  <div id="gitment_thread"></div>
  <link rel="stylesheet" href="https://billts.site/extra_css/gitment.css"/>
  <script src="https://billts.site/js/gitment.js"></script>
  <script>
    var gitment = new Gitment({
      id: '{{ page.id }}',
      owner: '{{ site.gitment.username }}',
      repo: '{{ site.gitment.repo }}',
      oauth: {
        client_id: '{{ site.gitment.client_id }}',
        client_secret: '{{ site.gitment.client_secret }}',
      },
    });
    gitment.render('gitment_thread')
  </script>
